@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'leaflet/dist/leaflet.css';
.cabin-light{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cabin-medium{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  padding: 20px 2ch;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;

  background-color: rgba(255, 255, 255, 0.313);
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
}

